body {
    background-image: url('../img/fundo.png');
    max-width: 100%;
}


/*Resetando os valores de espaçamento */
* {
	margin: 0;
	padding: 0;
}

/*Estilizando a nav da classe menu */
.menu {
	width: 100%;
	height: 40px;
	background-color: #4A708B;
	font-family: Arial;
}

/*Estilizando as listas */
.menu ul {
	list-style: none;
	position: relative;
}

.menu ul li {
	width: 150px;
	float: left;
	height: 35px;
}

.menu a {
	padding: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #4A708B;
	color: #fff;
}

.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul {
	visibility: visible;
}

.menu a:hover {
	background-color: #104E8B;
	color: #fff;
}

.menu ul ul li {
	float: none;
	border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
	background-color: #36648B;
	text-align: left;
	border-color: #36648B;
	font-size: 14px;
}

/*Criando o label */
label[for=”bt_menu”]{
	padding: 5px;
	background-color: #222;
	color: #fff;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	height: 50px;
}

#bt_menu {
	display: none;
}

#bt_menu2 {
	display: none;
}

label[for=”bt_menu”]{
	display: none;
}

/*Deixando o Menu Responsivo */
@media(max-width: 800px) {
	label[for=”bt_menu”] {
		display: block;
	}

	#bt_menu2 {
		display: block;
	}

	#bt_menu:checked ~ .menu{
		margin-left: 0;
	}

	.menu{
		margin-top: 5px;
		margin-left: -100%;
		transition: all 0.5s;
		position: absolute;
	}

	.menu ul li {
		width: 100%;
		float: none;
	}

	.menu ul li a:hover {
		width: 100%;
	}

	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all 0.5s;
	}

	.menu ul li:hover ul {
		height: auto;
		max-height: 200px;
	}

}