{% extends 'menu.html' %}
{% block content %}

<div class="row">
    <h1>Novo Cliente</h1>
</div>

<form class="ui form inverted segment container" method="post">
    <div class="field">
        <label for="nome">Nome do usuário</label>
        <input id="nome" type="text" placeholder="Nome do usuário">
    </div>
    <div class="two fields">
        <div class="field">
            <label for="cpf">CPF</label>
            <input id="cpf" type="text" placeholder="CPF">
        </div> 
        <div class="field">
            <label for="fone">Telefone</label>
            <input id="fone" type="text" placeholder="Telefone">
        </div>
    </div>

    <button type="submit" class="positive ui button">Cadastrar</button>
</form>

{% endblock %}