{% extends 'menu.html' %}
{% block content %}


<div class="row">
    <h1 class="center">Ordens de serviço</h1>
</div>

<div class="row">
    <a href="{{ path_for('novaOrdemDeServico') }}" class="positive ui button">Nova ordem de serviço</a>
</div>


<table class="ui celled table">
    <caption>Ordem de Serviço</caption>
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Data da OS</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#"><i class="edit icon"></i>Editar</a>
                <a href="#"><i class="trash icon"></i>Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}