{% extends 'menu.html' %}
{% block content %}

<table class="ui celled table">
    <h3>Ordem de Serviço pendente</h3>
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Valor Total(R$)</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#" class="positive ui button">Finalizar</a></td>
            </tr>
    </tbody>
</table>


<table class="ui celled table">
    <h3>Ordem de Serviço finalizada</h3>
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Valor Total(R$)</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#" class="positive ui button">Finalizar</a></td>
            </tr>
    </tbody>
</table>

{% endblock %}