{% extends 'menu.html' %}
{% block content %}

<div class="row">
    <h1 class="center">Técnicos</h1>
</div>

<div class="row">
    <a href="{{ path_for('novoTecnico') }}" class="positive ui button">Novo técnico</a>
</div>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="#"><i class="edit icon"></i>Editar</a>
                <a href="#"><i class="trash icon"></i>Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}