{% extends 'menu.html' %}
{% block content %}

<div class="row">
    <h1>Alterar Técnico</h1>
</div>

<form class="ui form inverted segment container" method="post" action="{{ path_for('alterarTecnico', {'id': tec.idTec}) }}">
    <div class="two fields">
        <div class="field">
            <label for="nome">Nome do usuário</label>
            <input id="nome" type="text" name="nome" value="{{ tec.nomeTec }}" placeholder="Nome do usuário" required>
        </div>
        <div class="field">
            <label for="cpf">CPF</label>
            <input id="cpf" type="text" name="cpf" value="{{ tec.cpfTec }}" placeholder="CPF" required>
        </div>
        <div class="field">
            <label for="fone">Telefone</label>
            <input id="fone" type="tel" name="fone" value="{{ tec.foneTec }}" placeholder="Telefone" required>
        </div>
    </div>

    <button type="submit" class="positive ui button">Alterar</button>
</form>

{% endblock %}