{% extends 'menu.html' %}
{% block content %}

<div class="row">
    <h1>Alterar Ordem de Serviço</h1>
</div>

<form class="ui form inverted segment container" method="post" action="{{ path_for('alterarOrdemDeServico', {'id': os.idOS}) }}">

    <div class="two fields">
        <div class="field">
            <label>Nome do cliente</label>
            <select name="cliente" class="ui selection dropdown" required>
                {% if cliOS %}
                    <option value="{{ cliIdOS }}">{{ cliOS }}</option>
                {% endif %}
                {% for c in cli %}
                <option value="{{ c.idCli }}">{{ c.nomeCli }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Técnico</label>
            <select name="tecnico" class="ui selection dropdown" required>
                {% if tecOS %}
                    <option value="{{ tecIdOS }}">{{ tecOS }}</option>
                {% endif %}
                {% for t in tec %}
                <option value="{{ t.idTec }}">{{ t.nomeTec }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="field">
        <label for="equip">Equipamento</label>
        <input id="equip" type="text" id="equip" name="equip" value="{{ os.equip }}" placeholder="Equipamento" required>
    </div>
    
    <div class="field">
        <label for="defeito">Defeito</label>
        <input id="defeito" type="text" id="defeito" name="defeito" value="{{ os.defeito }}" placeholder="Defeito" required>
    </div>

    <div class="field red">
        <label for="situacao">Situação</label>
        <input id="situacao" class="red" type="text" name="situacao" value="{{ os.situacao }}" value="Aguardando diagnóstico" readonly>
    </div>

    <div class="field">
        <label for="valor">Valor(R$)</label>
        <input id="valor" type="text" name="valor" value="{{ os.valor }}" placeholder="Valor" required>
    </div>

    <button type="submit" class="positive ui button">Alterar</button>

</form>

{% endblock %}