{% extends 'menu.html' %}
{% block content %}

<div class="row">
    <h1 class="center">Clientes</h1>
</div>

<div class="row">
    <a href="{{ path_for('novoCliente') }}" class="positive ui button">Novo cliente</a>
</div>

{% if msg %}
<div class="row">
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Erro ao excluir cliente
        </div>
        <p>{{ msg }}</p>
    </div>
</div>
{% endif %}

{% if msg1 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg1 }}
    </div>
</div>
{% endif %}

{% if msg2 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg2 }}
    </div>
</div>
{% endif %}

{% if msg3 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg3 }}
    </div>
</div>
{% endif %}

<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do cliente</th>
            <th>CPF</th>
            <th>Telefone</th>
        </tr>
    </thead>

    <tbody>
        {% for c in cli %}
        <tr>
            <td>{{ c.idCli }}</td>
            <td>{{ c.nomeCli }}</td>
            <td>{{ c.cpfCli }}</td>
            <td>{{ c.fone }}</td>
            <td>
                <a href="{{ path_for('alterarCliente', {'id': c.idCli}) }}"><i class="edit icon"></i>Editar</a>
                <a href="{{ path_for('deletarCliente', {'id': c.idCli}) }}" onclick="return confirm('Tem certeza que deseja excluir este cliente?');"><i class="trash icon"></i>Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}