<!DOCTYPE html>
<html>
    <head>
        <title>SysServiços</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/view/semantic.ui/semantic.css">
        <link rel="stylesheet" href="{{ base_url() }}/view/_css/custom.css" />
        <link rel="icon" href="{{ base_url() }}/view/_img/logo/sysservicos-icon.png" />
    </head>
    
    <body>
        <div class="ui menu blue inverted ">
            <a class="item" href="{{ path_for('painel') }}">
                Início
            </a>
            <div class="ui dropdown item">
                <div class="text">Cadastro</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path_for('usuarios') }}">Usuário</a>
                    <a class="item" href="{{ path_for('clientes') }}">Cliente</a>
                    <a class="item" href="{{ path_for('tecnicos') }}">Técnico</a>
                    <a class="item" href="{{ path_for('ordemDeServico') }}">Ordem de serviço</a>
                </div>
            </div>
            <div class="ui dropdown item">
                    <div class="text">Relatório</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ path_for('usuarios') }}">Orçamento</a>
                         <a class="item" href="{{ path_for('usuarios') }}">Garantia/Saída de equipamento</a>
                    </div>
                </div>
            <div class="right menu">
                <div class="ui item weigth">Usuário:<span id="user"></span></div>
                <a class="ui item" href="{{ path_for('logout') }}">
                    Sair
                </a>
            </div>
        </div>

        <div class="ui grid container margin">
            {% block content %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ base_url() }}/view/semantic.ui/semantic.js"></script>
        <script src="{{ base_url() }}/view/_js/jquery.cookie.js"></script>
        <script>
            $(document).ready(function(){
                var user = $.cookie('user');
                $('#user').html(user);
                $('.ui.dropdown').dropdown();
                $('.ui.sidebar').sidebar('show');
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
                
                verificar();
            });

            function verificar(){  
                if ($("#senha").val() != $("#confSenha").val()) {
                    $("#avisoSenha").html(
                        "<div class='ui negative message'>" +
                        "<div class='header'>" +
                        "Campo 'Senha' é diferente do campo 'Confirmar senha'!" +
                        "</div>" +
                    "</div>");

                    $("#submitUsu").attr('disabled', true);
                }

                if ($("#senha").val() == $("#confSenha").val()) {
                    $("#avisoSenha").empty();

                    $("#submitUsu").attr('disabled', false);
                }
            }
        </script>
    </body>
</html>