{% extends 'menu.html' %}
{% block content %}


<div class="row">
    <h1 class="center">Ordens de serviço</h1>
</div>

<div class="row">
    <a href="{{ path_for('novaOrdemDeServico') }}" class="positive ui button">Nova ordem de serviço</a>
</div>

{% if msg1 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg1 }}
    </div>
</div>
{% endif %}

{% if msg2 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg2 }}
    </div>
</div>
{% endif %}

{% if msg3 %}
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        {{ msg3 }}
    </div>
</div>
{% endif %}

<table class="ui celled table">
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Defeito</th>
            <th>Valor</th>
            <th>Data da OS</th>
        </tr>
    </thead>

    <tbody>
        {% for o in os %}
        <tr>
            <td>{{ o.idOS }}</td>
            <td>{{ o.nomeCli }}</td>
            <td>{{ o.situacao }}</td>
            <td>{{ o.equip }}</td>
            <td>{{ o.defeito }}</td>
            <td>R$ {{ o.valor }}</td>
            <td>{{ o.dataOs | date('d/m/Y') }}</td>
            <td>
                <a href="{{ path_for('alterarOrdemDeServico', {'id': o.idOS}) }}"><i class="edit icon"></i>Editar</a>
                <a href="{{ path_for('deletarOrdemDeServico', {'id': o.idOS}) }}" onclick="return confirm('Tem certeza que deseja excluir este cliente?');"><i class="trash icon"></i>Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}