{% extends 'menu.html' %}
{% block content %}

<div class="centralizar">
    <div class="ui statistics">
        <div class="statistic">
            <div class="value">
            22
            </div>
            <div class="label">
            Faves
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            31,200
            </div>
            <div class="label">
            Views
            </div>
        </div>
        <div class="statistic">
            <div class="value">
            22
            </div>
            <div class="label">
            Members
            </div>
        </div>
    </div>
</div>

<!--<table class="ui celled table">
    <h3>Ordem de Serviço pendente</h3>
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Valor Total(R$)</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#" class="positive ui button">Finalizar</a></td>
            </tr>
    </tbody>
</table>


<table class="ui celled table">
    <h3>Ordem de Serviço finalizada</h3>
    <thead>
        <tr>
            <th>ID OS</th>
            <th>Nome do cliente</th>
            <th>Situação</th>
            <th>Equipamento</th>
            <th>Valor Total(R$)</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#" class="positive ui button">Finalizar</a></td>
            </tr>
    </tbody>
</table>-->

{% endblock %}